@font-face {
    font-family: "Flanders Art Sans";
    src: url("Flanders-Art-Sans/FlandersArtSans-Medium.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Flanders Art Sans Regular";
    src: url("Flanders-Art-Sans/FlandersArtSans-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

.container {
    margin: 24px 110px 64px 110px;
}

.spacer {
    flex-grow: 1;
}

.primary-btn {
    width: fit-content;
    padding: 5px 20px 5px 20px;
    align-items: center;
    border: none;
    border-radius: 3px;
    background: #0055CC;

    color: #ffffff;
    font-family: Flanders Art Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.primary-btn:hover {
    background-color: #003bb0;
}

.secondary-btn {
    width: 116px;
    height: 38px;
    padding: 4px 16px;
    align-items: center;
    border: none;
    border-radius: 3px;
    background: #fff;

    color: #0055CC;
    font-family: Flanders Art Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.secondary-btn > span {
    color: #0055CC;
    font-family: Flanders Art Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.secondary-btn.active, .secondary-btn:hover {
    border: 1px solid #0055CC;
}

.shadow-medium {
    box-shadow: 0 2px 12px 0 rgba(106, 118, 134, 0.35);
}

.header {
    color: #333332;
    font-family: Flanders Art Sans, sans-serif;
    font-style: normal;
    font-weight: 500;
}

.header1 {
    font-size: 44px;
    line-height: 52px;
}

.header2 {
    font-size: 32px;
    line-height: 41px; /* 128.125% */
}

.header5 {
    font-size: 20px;
    line-height: 28px;
}

.body {
    color: #333332;
    font-family: Flanders Art Sans Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.body-xxlarge-regular {
    font-size: 28px;
    line-height: 36px;
}

.body-large-regular {
    font-size: 20px;
    line-height: 30px; /* 150% */
}

.body-medium-regular {
    font-size: 18px;
    line-height: 27px; /* 150% */
}

.body-small-regular {
    font-size: 16px;
    line-height: 16px;
}

.body-xxsmall-regular {
    font-size: 12px;
    line-height: 16px;
}

b {
    font-weight: 700 !important;
}

.small-regular {
    font-family: Flanders Art Sans Regular, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */

}

.header-font {
    color: #333332;
    font-family: Flanders Art Sans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.divider {
    border: 1px solid #cfd5dd;
    margin: 0;
}

.icon-btn {
    background: none;
    border: none;
    width: 24px;
    height: 24px;
}

.icon-btn > img {
    height: 18px;
}